/* src/components/interview.css */
/* self-check */
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 256px;
}

.left-panel {
  background-color: var(--nuetral-80);
  color: var(--background-color);
  border-radius: 20px;
  width: 1000px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  position: relative;
}

.permission-box {
  text-align: center;
}

.request-btn {
  margin-top: 1rem;
  padding: 10px 20px;
  background-color: var(--primary-60);
  color: var(--background-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.preview-canvas {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.select-box select {
  margin-bottom: 1rem;
  padding: 5px;
  width: 100%;
}

.checkboxes label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 20px;
  color: var(--success-60);
}

.complete-btn {
  padding: 10px;
  background-color: var(--background-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.complete-btn:enabled {
  background-color: var(--primary-60);
  color: var(--background-color);
}
/*  */
.interview > .header{
    margin-top: 20px;
    text-align: center;
    color: var(--background-color);
}
.interview > .header > h2{
    margin: 0;
}
/* 녹화 버튼! */
.interview > .header > .record-state {
    background-color: var(--nuetral-60);
    border: 0;
    color: var(--background-color);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.record-state > h4 {
    margin: 0;
    font-size: 1em;
}
.record-state > h4 > span {
    position: relative;
    bottom: 1px;
    font-size: 18px;
    font-weight: bold;
}
.interview > .header > .record-state-after {
    background-color: var(--error-80);
    border: 0;
    color: var(--background-color);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.record-state-after > h4 {
    position: relative;
    font-size: 1em;
    margin: 0;
}
.record-state-after > h4 > span {
    position: relative;
    bottom: 1px;
    font-size: 18px;
    font-weight: bold;
}

.main-video {
    width: 80%;
    height: 100%;
    background-color: var(--nuetral-60);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 인터뷰어 사진 */
.interviewer-w{
    width: 70vw;
    height: 70vh;
    border-radius: 1em;
    object-fit: cover;
    position: absolute; /* Allows the image to be positioned relative to its container */
    top: 58%; /* Start positioning the image from the center vertically */
    left: 50%; /* Start positioning the image from the center horizontally */
    transform: translate(-50%, -50%); /* Translate the image back by 50% of its width and height to truly center it */
}
.interviewer-c{
    width: 70vw;
    height: 70vh;
    border-radius: 1em;
    object-fit: cover;
    position: absolute; /* Allows the image to be positioned relative to its container */
    top: 58%; /* Start positioning the image from the center vertically */
    left: 50%; /* Start positioning the image from the center horizontally */
    transform: translate(-50%, -50%); /* Translate the image back by 50% of its width and height to truly center it */
}

