.gradient-loop {
    /* pointer-events: none; */
    background: radial-gradient(circle, var(--secondary-light) 0%, var(--primary-lightest) 30%, transparent 70%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 0% 0%;
    animation: pulse 10s ease-in-out infinite;
  }
  
@keyframes pulse {
    0% {
      background-size: 100% 100%;
    }
    50% {
      background-size: 150% 150%;
    }
    100% {
      background-size: 100% 100%;
    }
  }
  