:root {
  /* nuetral */
  --nuetral-10: #FCFCFC;
  --nuetral-20: #F9F9F9;
  --nuetral-30: #F0F0F0;
  --nuetral-40: #E1E1E1;
  --nuetral-50: #B8B8B8;
  --nuetral-60: #8B8B8B;
  --nuetral-70: #696969;
  --nuetral-80: #4B4B4B;
  --nuetral-90: #3B3B3B;
  --nuetral-100: #2A2A2A;

  /* 
  10: surface
  20: border
  40: subtle
  60: main
  80: action
  100: dark
  */

  /* Success */
  --success-10: #E8FCF1;
  --success-20: #A5E1BF;
  --success-40: #419E6A;
  --success-60: #00632B;
  --success-80: #00401C;
  --success-100: #002611;

  /* warning */
  --warning-10: #FFF5D5;
  --warning-20: #FFDE81;
  --warning-40: #EFB008;
  --warning-60: #976400;
  --warning-80: #724B00;
  --warning-100: #4D2900;

  /* Error */
  --error-10: #FFEBEB;
  --error-20: #FC9595;
  --error-40: #D83232;
  --error-60: #B01212;
  --error-80: #8C0000;
  --error-100: #660000;
  
  /* primary - blue*/
  --primary-10: #D3E1FE;
  --primary-20: #7EA5F8;
  --primary-40: #4D82F3;
  --primary-60: #2563EB;
  --primary-80: #0037B3;
  --primary-100: #002987;

  /* secondary - pink*/
  --secondary-10: #FFF2F6;
  --secondary-20: #FFBED4;
  --secondary-40: #E86993;
  --secondary-60: #CB3668;
  --secondary-80: #A61C4A;
  --secondary-100: #750A2E;

  --background-color: var(--nuetral-10);

  --font-body: var(--nuetral-80);
  --font-light: var(--nuetral-60);
  --font-dark: var(--nuetral-100);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--background-color);
}

.App-link {
  color: var(--info-60);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}