:root {
  /* #505E89, #122E50, #091D25, #FD2D8D, #86A44F, #E4FE40, #0CEBFC */
  --primary-color: #0CEBFC;
  --secondary-color: #E4FE40;
  --text-color: #091D25;
  --background-color: #F2F2F7;

  --system-red: #FF3B30;
  --system-orange: #FF9500;
  --system-yellow: #FFCC00;
  --system-green: #34C759;
  --system-teal: #5AC8FA;
  --system-blue: #007AFF;
  --system-indigo: #5856D6;
  --system-purple: #AF52DE;
  --system-pink: #FF2D55;
  --system-gray: #8E8E93;
  --system-gray2: #AEAEB2;
  --system-gray3: #C7C7CC;
  --system-gray4: #D1D1D6;
  --system-gray5: #E5E5EA;
  --system-gray6: #F2F2F7;

  --sub-linear-gradient: linear-gradient(to right, #006aff 0%,  #ff53d1 100%);
  --white-blur: rgba(251, 252, 255, 0.7);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
